node_modules/
dist/
.env
ansible/inventory/group_vars/all_secret.yml
*.log
logs/
results/
k6-results/
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
